<phpunit
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="tests/bootstrap.php"
    verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>../vendor</directory>
            <directory>../tests</directory>
        </blacklist>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
